//
essentials
html,body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	outline: none;
}

.main-body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}
//
end-essentials