<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
<meta charset="UTF-8" />
<title>Firebase</title>
<base href="/" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../../css/style.css" />
</head>

<body class="container text-center">

	<div ui-view=""></div>

	<script type="text/javascript"
		src="../../js/libs/js/angularjs/1angular.js"></script>
	<script type="text/javascript"
		src="../../js/libs/js/angularjs/2angular-ui-route.js"></script>
	<script type="text/javascript"
		src="../../js/libs/js/angularjs/3angular-bootstrap.js"></script>
	<script type="text/javascript"
		src="../../js/libs/js/firebase/client-firebase.js"></script>
	<script type="text/javascript"
		src="../../js/libs/js/firebase/firebase-angular.js"></script>

	<script type="text/javascript" src="../../js/app.js"></script>
	<script type="text/javascript" src="../../js/home/home-ctrl.js"></script>
	<script type="text/javascript" src="../../js/john-doe/john-doe-ctrl.js"></script>
	<script type="text/javascript"
		src="../../js/john-doe/john-doe-service.js"></script>
	<script type="text/javascript" src="../../js/jane-doe/jane-doe-ctrl.js"></script>
	<script type="text/javascript"
		src="../../js/jane-doe/jane-doe-service.js"></script>

</body>

</html>
